.header {
  padding: 20px 50px;
  @include displayFlex(null, null, space-between);

  &-logo {
    @include displayFlex;
  }

  &-actions {
    @include displayFlex;
    gap: 10px;

    &-link {
      @include displayFlex;
      height: 46px;
      color: $white;

      padding: 0px 20px;
      border-radius: 20px;

      text-decoration: none;
      transition: all 0.3s ease;
    }

    &-link:hover {
      transform: scale(0.95);
    }
  }

  &-burger-icon {
    padding: 14px 0;
    transition: all 0.3s ease;
  }

  &-burger-icon:hover {
    transform: scale(0.95);
  }
}

.drawer {
  background-color: $primary;

  &-links {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-200px, -50%);
  }

  &-close-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.3s ease;
  }

  &-close-icon:hover {
    transform: scale(0.95);
  }
}
